* {
  border: none;
  border-radius: 0;
  font-size: 22px;
  min-height: 0;
}

#window {
}

window#waybar {
  background: #222222;
  color: #eeeeee;
}

#workspaces button {
  padding: 13px 5px;
  color: #ffffff;
}

#workspaces button.focused {
  background: #1976d2;
}

#custom-weather {
  font-family: "Weather Icons";
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#workspaces,
#tray,
#mode {
  padding: 0 10px;
}
